<p align="center">
  <img src="https://raw.githubusercontent.com/pachecowillians/svg-icons/d8778eb9218e8548afced046fd447ca4aaa5ff32/img/wine.svg" alt="Python" width="100px">
</p>

In this notebook, I delve into my first experience with classification algorithms, exploring the field of machine learning. Through the study, I aim to gain insights into how these algorithms work and their applications, analyzing datasets and evaluating their performance. Join me on this exciting journey as we unlock the potential of machine learning and classification techniques.

Importing the pandas library: This code imports the `pandas` library and assigns the alias `pd` to it. This allows you to use pandas functions and attributes in your code using the syntax `pd.function_name` or `pd.attribute_name`.

In [78]:
import pandas as pd

In [79]:
ds = pd.read_csv('dataset/wine_dataset.csv')
ds.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [80]:
ds['style'] = ds['style'].replace('red', 0)
ds['style'] = ds['style'].replace('white', 1)

In [81]:
goal = ds['style']
predict = ds.drop('style', axis=1)

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
x_train, x_test, y_train, y_test = train_test_split(predict, goal, test_size=0.3)

In [84]:
print(ds.shape, x_train.shape, x_test.shape)

(6497, 13) (4547, 12) (1950, 12)

In [85]:
from sklearn.ensemble import ExtraTreesClassifier

In [86]:
model = ExtraTreesClassifier()
training = model.fit(x_train, y_train)

In [87]:
result = model.score(x_test, y_test)
print("Accuracy:", result)

Accuracy: 0.9969230769230769

In [88]:
import random

In [89]:
interval_begin = random.randint(0, len(x_test - 10))

In [90]:
test = x_test[interval_begin : interval_begin + 10]

In [91]:
y_test[interval_begin : interval_begin + 10]

5448    1
2751    1
81      0
2958    1
1161    0
891     0
4301    1
5014    1
250     0
885     0
Name: style, dtype: int64

In [92]:
predictions = model.predict(x_test[interval_begin : interval_begin + 10])
print(predictions)

[1 1 0 1 0 0 1 1 0 0]

In [93]:
print(y_test[interval_begin : interval_begin + 10] == predictions)

5448    True
2751    True
81      True
2958    True
1161    True
891     True
4301    True
5014    True
250     True
885     True
Name: style, dtype: bool